*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0%;
  font-family: sans-serif;
  background: #49529d;
  color: #fff;

}
.textCenter{
  text-align: center;
}
.AppContiner{
  width: 60%;
  margin: 10px auto;
}
.listItem{
  background: #fff;
  color: #49529d;
}
.listItem p{
  margin: 0%;
  text-align: center;
  padding: 10px 0px;
}
.listItem span{
  display: inline-block;
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  border: .3px solid #ccc;
}
.listItem span.tittle{
  background: #2ebaee;
  color: #fff;
}
.listItem span.name,
form input[type=text]{
  width: 60%;
} 
.listItem span.age,
form input[type=number]{
  width: 30%;
} 
.listItem span.action,
form input[type=submit]{
  width: 10%;
} 
.listItem span.icon{
  color: red;
  cursor: pointer;
  text-align: center;
  width: 10%;
}

form input {
  padding: 10px;
  border: transparent;
  background: #ebebeb;
  border: .3px solid #ccc;
}

form input[type=submit]{
  background: #2ebaee;
  color: #fff;
  border: #2ebaee .3px solid;
  cursor: pointer;
}
